<!doctype html>
<html>
<head>

</head>
<body>
    <%- include('header') %>

    <div class="container" style="display: block;">

      <div class='dialog' style="display: block;">


        <div>
          <h3>Thank you for your participation! </h3>
          <span class='textLabel'>BE SURE TO WRITE DOWN THE
          NUMBER LISTED BELOW!</span><br />
          <div style="margin: 60px auto; font-size: 72px; color: darkred"
          id="idOutput"><%= userID %></div>
          It will be used in a second set of questions
          later in the semester and is required for you to recieve
          your extra credit for this exercise.</h3>
          <p>
            You may now close this window.  Thank you again and have
            a good day!
          </p>

        </div>

      </div>

    </div>


    <script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>
