<!doctype html>
<html>
<head>

</head>
<body>
    <%- include('header') %>

    <div class='welcome q0 consentContainer'>
      <h3>Statement of Informed Consent</h3>
      <p class='consent'>Faculty and undergraduate students from the Department of Politics
        & Government at Illinois State University are conducting research
        whose purpose is to learn about the preferences of young voters in
        the 2016 presidential election. We are asking volunteers to view a
        presentation on a computer and answer questions about candidates
        and political issues.</p>
      <p class='consent'>Participation is voluntary and there is no penalty for
        non-participation. The activity will take approximately 10 minutes
        to complete. There are no health or safety risks associated with
        the study. The questionnaire contains questions about politics,
        including some items about politically sensitive topics.
        Participants can refuse to answer any question on the survey
        without penalty.</p>
      <p class='consent'>There are no direct benefits of participating in this study, just
        the general benefits to society associated with the proposed
        research. If you are under the age of 18, you are not eligible to
        participate in the study. The confidentiality of any personal
        information will be protected to the extent allowed by law. To the
        extent allowed by law, only the researcher and research assistants
        conducting this experiment will have access to information we
        gather about you. Your name will not be attached to any of the data
        from this survey and will not be reported with any results related
        to this research. All data collected in the experiment will be
        maintained on a secure server. The researchers will retain the data
        for 24 months. If you choose not to participate or to withdraw from
        the study at any time, there will be no penalty. If you have
        questions about your rights as a research subject please contact
        the principal investigator:</p>
        <pre class='consent'>
        Dr. Kerri Milita
        209-438-7743
        kmilita@ilstu.edu
        or
        ISU IRB: 309-438-2528
        ResearchOffice@IllinoisState.edu
      </pre>
      <span style="font-weight: bold; font-size: 24px;">Press Next if you wish to
        continue</span>

      <button id='consentButton' class="next">Next</button>
    </div>

    <div class="container">

      <div class='dialog'>

        <div class='question q1'>
          <h3>Do you believe that it is important for a candidate to
          be: (Check up to three)</h3>
          <div class='q1List'></div>
        </div>

        <div class='question q2'>
          <h3>What do you believe is the most important issue facing us today?
          (Choose one)</h3>
          <div class='q2List'></div>
        </div>

        <div class='question q3'>
          <h3>What candidate do you most support right now? (Choose one)</h3>
          <div class='q3List'></div>
        </div>

        <div class='question q4'>

          <h3>From 0% to 100%, what do you think
            <span class='faveCandidate textLabel'>'s</span> chance of
            winning thier party's nomination is?</h3>

          <p><b>(Click somewhere along the orange slider to activate this
            question)</b></p>

          <div class='chanceSlider sliderLabelContainer'></div><br />
          <div class='clearFloat'></div>
          <input type="range" name="chanceSlider" id='chanceSlider'
            class='slider notClicked' min="0" max="100" step="10">

          <div style="width: 500px; margin: 8px auto;"
            class="chanceSliderUnderLabel underLabel">
            <div style="float: left; width: 250px; text-align: left;">
              0% chance
            </div>
            <div style="float: left; width: 250px; text-align: right;">
              100% chance
            </div>
          </div>
          <div class='clearFloat'></div>
        </div>

        <div class='question q5'>

          <h3>On a scale on 1 to 10, with <span class='textLabel'>10
            being very clear</span> and <span class='textLabel'>1 being very
            unclear</span>, how clear do you believe
            <span class='faveCandidate textLabel'>'s stance on </span>
          <span class='faveIssue textLabel'></span> is?</h3>

          <p><b>(Click somewhere along the orange slider to activate this
            question)</b></p>

          <div class='claritySlider sliderLabelContainer'></div><br />
          <div class='clearFloat'></div>
          <input type="range" name="claritySlider" id='claritySlider'
            class='slider notClicked' min="1" max="10" step="1">

          <div style="width: 500px; margin: 8px auto;"
            class="claritySliderUnderLabel underLabel">
            <div style="float: left; width: 250px; text-align: left;">
              Very Unclear
            </div>
            <div style="float: left; width: 250px; text-align: right;">
              Very Clear
            </div>
          </div>
          <div class='clearFloat'></div>
        </div>

        <div class='question q6'>

          <h3>On a scale of 1 to 10 with
            <span class='textLabel'>10 being very enthusiastic</span> and
            <span class='textLabel'>1 being very unenthusiastic</span>, how do you
            feel about <span class='faveCandidate textLabel'>'s</span>
            candidacy?</h3>

          <p><b>(Click somewhere along the orange slider to activate this
            question)</b></p>

          <div class='enthusiasmSlider sliderLabelContainer'></div><br />
          <div class='clearFloat'></div>
          <input type="range" name="enthusiasmSlider" id='enthusiasmSlider'
            class='slider notClicked' min="1" max="10" step="1">

          <div style="width: 500px; margin: 8px auto;"
            class="enthusiasmSliderUnderLabel underLabel">
            <div style="float: left; width: 250px; text-align: left;">
              Very Unenthusiastic
            </div>
            <div style="float: left; width: 250px; text-align: right;">
              Very Enthusiastic
            </div>
          </div>
          <div class='clearFloat'></div>
        </div>

        <div class='question q7'>
          <h3>Are any of your friends or family also supporting
          <span class='faveCandidate textLabel'></span>?</h3>
          <input type='radio' name='peers' value='1' id='peerYes'/>
          <label for="peerYes">Yes</label><br />
          <input type='radio' name='peers' value='2' id='peerNo'/>
          <label for="peerNo">No</label>
        </div>

        <div class='question q8'>

          <h3>On a scale of 1 to 10 with
            <span class='textLabel'>10</span> being very
            <span class='textLabel'>enthusiastic</span> and
            <span class='textLabel'>1</span> being very
            <span class='textLabel'>unenthusiastic</span>, how
            enthusiastic are your friends/family about
            <span class='faveCandidate textLabel'>'s</span>
            candidacy?</h3>

          <p><b>(Click somewhere along the orange slider to activate this
            question)</b></p>

          <div class='peerEnthusiasmSlider sliderLabelContainer'></div><br />
          <div class='clearFloat'></div>
          <input type="range" name="peerEnthusiasmSlider" id='peerEnthusiasmSlider'
            class='slider notClicked' min="1" max="10" step="1">

          <div style="width: 500px; margin: 8px auto;"
            class="peerEnthusiasmSliderUnderLabel underLabel">
            <div style="float: left; width: 250px; text-align: left;">
              Very Unenthusiastic
            </div>
            <div style="float: left; width: 250px; text-align: right;">
              Very Enthusiastic
            </div>
          </div>
          <div class='clearFloat'></div>
        </div>

        <div class='question q9'>
          <h3>Please rate the candidates on where you think their ideology
          falls on a spectrum from <span class='textLabel'>1</span> being
          <span class='textLabel'>Very Liberal</span> to
          <span class='textLabel'>10</span> being
          <span class='textLabel'>Very Conservative</span>
          </h3>

          <div style='height: 30px; width: 127px;
          float: left;'></div>
          <div style='height: 30px; width: 535px;
          float: left;'

          id='ideologyLabels'></div>
          <div class='clearFloat'></div>

          <div class='q9List'></div>

          <div style='width: 140px; height: 30px; float: left;
          margin-top: -8px; border: 1px solid #ccc'></div>
          <div style='width: 250px; float: left; text-align: left;'>
            Very Liberal
          </div>
          <div style='width: 250px; float: left; text-align: right;'>
            Very Conservative
          </div>
          <div class='clearFloat'></div>
        </div>

        <div class='question q10'>
          <h3>Are you:</h3>
          <input type='radio' name='gender' value='1' id='male'/>
          <label for="male">Male</label><br />
          <input type='radio' name='gender' value='2' id='female'/>
          <label for="female">Female</label>
        </div>

        <div class='question q11'>
          <h3>Generally, do you consider yourself a:</h3>
          <input type='radio' name='pid' value='1' id='pidDemocrat'/>
          <label for="pidDemocrat">Democrat</label><br />
          <input type='radio' name='pid' value='2' id='pidRepublican'/>
          <label for="pidRepublican">Republican</label><br />
          <input type='radio' name='pid' value='3' id='pidIndependent'/>
          <label for="pidIndependent">Independent</label><br />
          <input type='radio' name='pid' value='4' id='pidOther'/>
          <label for="pidOther">Other</label>
        </div>

        <div class='question q12'>
          <h3>This March, which primary do you intend to vote in?</h3>
          <input type='radio' name='primary' value='1' id='primaryDemocrat'/>
          <label for="primaryDemocrat">Democrat</label><br />
          <input type='radio' name='primary' value='2' id='primaryRepublican'/>
          <label for="primaryRepublican">Republican</label><br />
          <input type='radio' name='primary' value='3' id='primaryUnknown'/>
          <label for="primaryUnknown">I don't know yet</label><br />
          <input type='radio' name='primary' value='4' id='primaryNone'/>
          <label for="primaryNone">I do not plan to vote in the primary</label>
        </div>

        <div class='question q13'>

          <h3>Generally, on a scale of <span class='textLabel'>1
          representing very liberal</span> and
          <span class='textLabel'>10 representing very conservative</span>, how would
          you rate <span class='textLabel'>yourself?</span>
          </h3><br />

          <p><b>(Click somewhere along the orange slider to activate this
            question)</b></p>

          <div class='yourIdeologySlider sliderLabelContainer'></div><br />
          <div class='clearFloat'></div>
          <input type="range" name="yourIdeologySlider" id='yourIdeologySlider'
            class='slider notClicked' min="1" max="10" step="1">

          <div style="width: 500px; margin: 8px auto;"
            class="yourIdeologySliderUnderLabel underLabel">
            <div style="float: left; width: 167px; text-align: left;">
              Very Liberal
            </div>
            <div style="float: left; width: 166px; text-align: center;">
              Moderate
            </div>
            <div style="float: left; width: 167px; text-align: right;">
              Very Conservative
            </div>
          </div>
          <div class='clearFloat'></div>
        </div>

        <div class='question q14'>
          <h3>Are you:</h3>
          <input type='radio' name='race' value='1' id='raceWhite'/>
          <label for="raceWhite">White</label><br />
          <input type='radio' name='race' value='2' id='raceBlack'/>
          <label for="raceBlack">Black</label><br />
          <input type='radio' name='race' value='3' id='raceHispanic'/>
          <label for="raceHispanic">Hispanic</label><br />
          <input type='radio' name='race' value='4' id='raceAsian'/>
          <label for="raceAsian">Asian</label><br />
          <input type='radio' name='race' value='5' id='raceOther'/>
          <label for="raceOther">Other</label>
        </div>

        <div class='question q15'>
          <h3>What is your family's household income?</h3>
          <input type='radio' name='income' value='1' id='below10k'/>
          <label for="below10k">Less than $10,000</label><br />
          <input type='radio' name='income' value='2' id='10-20'/>
          <label for="10-20">$10,000 to $19,999</label><br />
          <input type='radio' name='income' value='3' id='20-30'/>
          <label for="20-30">$20,000 to $29,999</label><br />
          <input type='radio' name='income' value='4' id='30-40'/>
          <label for="30-40">$30,000 to $39,999</label><br />
          <input type='radio' name='income' value='5' id='40-50'/>
          <label for="40-50">$40,000 to $49,999</label><br />
          <input type='radio' name='income' value='6' id='50-60'/>
          <label for="50-60">$50,000 to $59,999</label><br />
          <input type='radio' name='income' value='7' id='60-70'/>
          <label for="60-70">$60,000 to $69,999</label><br />
          <input type='radio' name='income' value='8' id='70-80'/>
          <label for="70-80">$70,000 to $79,999</label><br />
          <input type='radio' name='income' value='9' id='80-90'/>
          <label for="80-90">$80,000 to $89,999</label><br />
          <input type='radio' name='income' value='10' id='90-100'/>
          <label for="90-100">$90,000 to $99,999</label><br />
          <input type='radio' name='income' value='11' id='100-150'/>
          <label for="100-150">$100,000 to $149,999</label><br />
          <input type='radio' name='income' value='12' id='above150'/>
          <label for="above150">$150,000 or above</label><br />
        </div>

        <div class='question q16'>
          <h3>Thank you for your participation! </h3>
          <span class='textLabel'>BE SURE TO WRITE DOWN THE
          NUMBER LISTED BELOW!</span><br />
          <div style="margin: 60px auto; font-size: 72px; color: darkred"
          id="idOutput"></div>
          It will be used in a second set of questions
          later in the semester and is required for you to recieve
          your extra credit for this exercise.</h3>
          <p>
            You may now close this window.  Thank you again and have
            a good day!
          </p>




        </div>

      </div>

      <div class='warning'></div>
      <button class="next">Next</button>

    </div>


    <script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>
