<!doctype html>
<html>
<head>

</head>
<body>
    <%- include('header') %>

    <div class="container">

      <div class='dialog'>

        <div class='welcome q0'>
          <h2>Press next to begin.</h2>
        </div>

        <div class='question q1'>
          <h3>Do you believe that it is important for a candidate to
          be: (Check up to three)</h3>
          <div class='q1List'></div>
        </div>

        <div class='question q2'>
          <h3>What do you believe is the most important issue facing us today?
          (Choose one)</h3>
          <div class='q2List'></div>
        </div>
      </div>

      <div class='warning'></div>
      <button class="next">Next</button>
    </div>

    <script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>
